
.sidebar {
  background-color: var(--white-color);
  padding: 0 0;
  z-index: 100;
  height: 100vh;
  // overflow-y: scroll;
  // box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.newbutton_align{
      position: absolute;
    right: 10px;
    top: -56px;
}
.btn-primary:hover{border-color: #2c9942 !important;}
.mt-minus30{margin-top: -71px;}
.tabcss {
  background: #fff !important;
  border-radius: 2rem;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
}

.newhoverzom{  transition: transform .2s; /* Animation */}
.newhoverzom:hover{ transform: scale(1.5); cursor: pointer;}
.activenew{background: #fff !important; color: #7fc4de !important;}
.newalign svg{vertical-align: text-top !important;}
.page-title{
  color: #343a40  !important;
}
.opend{background: transparent !important;
  border: 0 !important;
  padding: 0 !important;}
  .opend svg{width: 14px;}
.pt-arr{padding-top: 1px;}
.pt-arr svg {
  height: .9em;
}
.imagemani {
    
  height: 300px;
}
.rounded-circlecss1{    width: 40px !important;
  height: 40px !important;
  margin-top: 2px;
  margin-right: 5px;}

// For Production 
.paddb {
padding: 22px 34px 0px 18px;min-height: 100vh;
}

/* For UAT   */
// .paddb {
// padding: 50px 34px 0px 18px;min-height: 100vh;
// }

.mt100{margin-top: 100%;}
.newiconsvg svg{height: 115px !important; width: 115px !important;
  color: #b7b7b7;
  margin-bottom: 15px;}
table .no-results{position: absolute;
  text-align: center;
  top: 74%;
  width: 100%;}
.card .card-body .quill{max-height: 300px !important; height: 300px !important; overflow-y: auto !important;}
.carousel-control-next, .carousel-control-prev{
  opacity: 1 !important;
}
.paddbnew{
  padding: 30px 17px 0px 15px;min-height: 100vh;
}
.sub-menu .test{padding: 0px 10px !important;    height: 30px;
  line-height: 10px;}
  .previewpp  .modal-dialog {
    transform: none;
    min-width: 80%;
}
#report-issue{min-width: 100% !important;
  background-color: rgb(0, 0, 0, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  border-radius: 8px;
 
  width: 100% !important;
  z-index: 9900 !important;
  height: 100% !important;
}
#report-issue span{ line-height: 25px;
  right: 14px !important;
  top: 12px !important;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc !important;
  border-radius: 1000px;
  text-align: center;
  font-size: 20px !important;
  cursor: pointer;}
#report-issue h2{    font-size: 1.25rem !important;    border-bottom: 1px solid #ccc;
  padding-bottom: 15px;}
#report-issue button{width: 100px; margin: auto; background: #7fc4de !important;}
#report-issue .report-Issue-Wrapper-Div{padding: 15px !important;
  background: #fff;
  min-width: 600px !important;
  width: 600px;
  position: relative;
  margin: auto;
  border-radius: 6px;}
.previewpp .modal-body{height: 500px; overflow: hidden;}
.previewpp .modal-body img,.previewpp .modal-body video{width: 100% !important; height: 100% !important; object-fit: cover !important;}
.add-comment textarea{
  border: 1px solid #007bff;
  border-radius: 30px !important;
  height: 38px !important; resize: none;    padding: 8px 10px !important;
  overflow-y: auto;
}
.add-comment textarea::placeholder{
  color: #000 !important; font-size: 1rem; font-weight: 500;
}
.row{
  --bs-gutter-x: 0.8rem;
}
.image-preview .large-image img{
  height: 100% !important;
}
.large-image{
  height: 216px !important;
}
.carousel1 {
  position: relative;
  height: 330px;
  overflow: hidden;
  border-radius: 20px;
}
.btn-success{background: rgba(31,176,229,1) !important;    border-color: #7fc4de !important;
}


.announcementner {
  height: 330px;
  overflow: hidden;
}
.finish {
  font-size: 11px;
  line-height: 19px;
  padding: 1px 10px;
  display: inline-block;
  border-radius: 5px;
  background: rgba(0, 135, 81, 0.20);
  color: #008751;
  font-weight: 500;
}
.ongoing  {
  font-size: 11px;
  line-height: 19px;
  padding: 1px 10px;
  display: inline-block;
  border-radius: 5px;
  background: #6b6f6f ;
  color: #fff;
  font-weight: 500;
}
.gal-box{width: 100%;}
a{text-decoration: none !important; cursor: pointer;}
.sidebar.close {
  padding: 0 0;
  width: 70px;
}
#myDropdown, #myDropdownBell{transform: translateY(19px) !important; border-radius: 5px;}
.twolinewrap{
  overflow: hidden;
text-overflow: ellipsis;
//-webkit-line-clamp: 2;
display: -webkit-box;
-webkit-box-orient: vertical;-webkit-line-clamp: 2;
}
.twolinewrapone{
  overflow: hidden;
text-overflow: ellipsis;
//-webkit-line-clamp: 2;
display: -webkit-box;
-webkit-box-orient: vertical;-webkit-line-clamp: 1;
}
.notification-lists .dropdown-toggle:after{display: none !important;}
.twolinewrap1{
  overflow: hidden;
text-overflow: ellipsis;
//-webkit-line-clamp: 3;
display: -webkit-box;


-webkit-box-orient: vertical;

-webkit-line-clamp: 3;
}
.item:hover .link_name1{color: #7fc4de !important;}
.sidebar.close .item .link_name1{color: #6c757d !important;}
.sidebar.close .item .link_name1:hover span,.sidebar.close .item .link_name1:focus span{color: #7fc4de !important;}
.annusvg svg{margin-top: 6%;
  width: 115px; margin-bottom: 5px; color: #bcbcbc !important;
  height: 115px;}
.mtable td{    padding: 3px 10px !important;}
.two-line{
  overflow: hidden;
  text-overflow: ellipsis;
  
  display: -webkit-box;
  height:37px; margin-bottom: 7px !important;
  
  -webkit-box-orient: vertical;
  
  -webkit-line-clamp: 2;
}
.onelinenewd{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 205px; float: left;
  
  
}

.sevenline{
  overflow: hidden;
  text-overflow: ellipsis;
  
  display: -webkit-box;

  
  -webkit-box-orient: vertical;
  
  -webkit-line-clamp: 7;
}

.card-body{
  padding: 0.8rem !important;
}
.likecount1{ background: #7fc4de;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 10px;
  position: absolute;
  right: 20px;
  border-radius: 5px; }
  .text-infonew{color: rgba(33,37,41,.75) ; font-weight: 400;}
  .text-warningnew{color: rgba(33,37,41,.75) ; font-weight: 400;}
#myHeader .dropdown #myDropdown{background: transparent !important; box-shadow: none !important;}
.mtable th #myDropdown{cursor: pointer;}
.heightlist .text-dark{color: #000; font-weight: 600;}
#myDropdownBell .heightlist{height: 350px;overflow-y: auto;overflow-x: hidden; border-bottom: 1px solid #ccc; padding: 10px;}
#myDropdownBell .heightlist .notify-item
{border: 0px solid #ccc !important;border-bottom: 1px solid #ccc !important; border-radius: 0px !important;}
#myDropdownBell .heightlist .notify-item:nth-child(even)
{background: #fff !important;}
#myDropdownBell .flex {border-bottom: 1px solid #efefef; padding: 10px 10px 0px 10px; }
a:hover, a:active {
  text-decoration: none !important;
}
.font-12 {
  font-size: 12px !important;
}
.mtbalenew  th,.mtable  th {
  position: relative;
}
input[type=text][disabled]{
  background-color: #e9ecef !important;
}
.mtbalenew  th .svg-inline--fa,.mtable  th .svg-inline--fa {
  cursor: pointer !important;
  height: 12PX !important;
  position: absolute !important;
      top: 12px;
}
.mtbalenew  th #myDropdown svg,.mtable  th #myDropdown svg{
  position: relative !important;right: auto !important;vertical-align: bottom !important;height: 16PX !important;
}
.sidebar .menu_items .active svg{color:#FFF !important;}
.sidebar.close .navlink{color:#FFF !important;}
.page-item.active .page-link{color: #fff !important;}
.mtbalenew  th input:focus,.mtable th input:focus{outline: 0px solid #7fc4de !important; box-shadow: none;}
.mtbalenew  th #myDropdown,.mtable th #myDropdown{text-align: center;width: 70px;
  min-width: 73px; padding: 5px !important; right: 1px !important;   transform: translateY(0px) !important;}

.posnew {
  padding: 2px 8px !important;
  border-radius: 4px;
  background: rgba(0, 135, 81, 0.20) !important;
  font-weight: 500 !important;
  color: #008751;
  Position: absolute;
  right: 0px;
  top: 13px;
}
.border-radius {
  padding: 9px 0px 5px 0px;
  width: 97% !important;
  position: relative;
  margin: auto;
}
.newc{font-weight: 700;}
.border-bottom:last-child{border-bottom: 0px solid #ccc !important;}
.carousel,.carousel-inner{height: 100% !important;}
.font-11 {
  font-size: 11px !important;
}
.sidebar.close .logo_item{
  width: 66px;
  margin-left: -16px;
}
.loadernewadd{color: #7fc4de;display: block; text-transform: uppercase; text-align:center ; font-size: 16px !important;gap: 0px;font-weight: 500;justify-content: center;
  align-items: center;vertical-align: middle;}
.alignrightl{width: 100px !important; margin-bottom: 0px !important; margin-top: 5px;}
.alignrightbird{width: 30px;
  margin-top: -2px;}
.postion8{ width:95%; float: right; margin-top: 92px; }
.mainevent{border-bottom: 1px solid #ccc; padding: 10px 0px;}
.mainevent:last-child{border-bottom: 0px !important;}
.ipaddw{width: 10px;}
.footer{background: #d4d4d3;bottom:-70px;padding: 8px 10px;position: relative;text-align: right; width: 100%;}
.dropcss{padding: 0px;}
.dropcss a{display: block; text-align: left; font-size: 14px; padding: 10px; }
.text-dark-new{color: #343a40 !important;}
.newt6 svg{vertical-align: top !important;    margin-top: 1.5px;}
.btn-close{    width: 25px !important;
  
  height: 25px !important;
  border: 1px solid #ccc !important;
  min-width: 25px !important;
  border-radius: 1000px !important;}
.view-all {
  border-radius: 4px !important;
  float: right;
  font-weight: 600 !important;
  padding: 3px 9px;
  position: relative;
  right: 0px;
  top: 5px;
  color: #fff !important;
  height: 24px !important;
  background: #7fc4de;
}
.view-all:hover{
  background: #008751; color: #fff !important;
}

.annuncementcard h4{color: #343a40 !important;}
.ht{   border: 1px solid #7fc4de !important;    height: 36px;
  border-radius: 30px;
  font-size: 13px;}
// .nose p{max-height: 77px; overflow-y: hidden;}
// .nose p:hover{overflow-y: auto;}
.sidebar::-webkit-scrollbar {
  display: none;
}
.border-bottom p{color: #6c757d;}
.eventcommm .nose{padding: 0px !important; margin: 0px !important;}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
  
}

/* Main container styles */
.main-container {
  transition: margin-left 0.5s;
  margin-left: 250px;
  padding: 15px;
}

.sidebar.show ~ .main-container {
  margin-left: 60px;
}
.sidebar.closed ~ #main {
  margin-left: 70px;
}
.menu_items {
  padding: 0;
  list-style: none;

  overflow-y: hidden;
  overflow-x: hidden;
}
.menu_items:hover{
  overflow-y: auto;
}
/* Custom scrollbar styles */
.menu_items::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  }
  
  .menu_items::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  }
  
  .menu_items::-webkit-scrollbar-thumb {
  background: #aaa; /* color of the scroll thumb */
  }
  
  .menu_items::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
  }
.navlink_icon {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  min-width: 20px;
  position: relative;
  text-align: center;
  margin-left: 12px;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;

}
.sidebar.close .navlink_icon{
  box-shadow: 0 3px 12px #0000000a; min-width: 44px;
}
// .navlink_icon:hover {
//   color: var(--blue-color) !important;
//   background: unset;

// }
.nav_link.submenu_item.active {
  background: var(--blue-color);
  color: white !important;
  display: block;
}
.link_name1
{
  // background:#fff;
  color: #6c757d;
}
.nav_link.active .link_name1:nth-child(1){
  color: #fff;
}
.sidebar .nav_link {
  display: block;
  align-items: center;
  width: 100%;
  // padding: 4px 15px;
  font-size: 15.2px;
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
  clear: both;
}
.sidebar.close .navlink {
  display: none;
}
.sidebar.close .navlink :hover{
  color:  var(--blue-color);
  font-size: 15.2px;
}
// .sidebar.close .navlink .closecss {
//   display: block;
// }
.nav_link:hover {
  color:  var(--blue-color);
  font-size: 15.2px;

}


.item{
  margin:0.8rem 0.8rem 0rem 0.8rem;
} 
.logo_item img{margin-left: 5px;}
.sidebar.close .nav_link:hover {
  background: var(--blue-color);
  color: #fff;
  display: flex;
  align-items: start
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.show_submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {

  bottom: 60px;
    cursor: pointer;
    left: 10rem;
    position: fixed;
    transition: all .5s ease;
    width: 260px;
    height: 0;
    top: 0.5rem;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);

}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
  justify-content: center;
  top: 0;
    position: sticky;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
    height: 70px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out !important;
    padding: 0 11px;

}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.logo_item{
  width: 210px; margin-top: 0rem;
  text-align: center;
}
.logo_item img{
  //width: 36% !important;
}
.logo_itemfull{
  object-fit: cover;
  width: 100% !important;
}
.navbar img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#main {
  transition: margin-left .3s;
  padding: 20px;
  margin-left: 250px;
}
.content {
  transition: margin 0.3s ease;
}

/* Default styles for larger screens */
// .sidebar-open {
//   margin-left: 5.5rem;
//   transition: margin-left 0.3s;
//   background: #eef6f7;
//   margin-top: 4.5rem;
// }

// .sidebar-closed {
//   margin-left: 17rem;
//   transition: margin-left 0.3s;
//   background: #eef6f7;
//   margin-top: 5.5rem;
// }


/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .sidebar {
    margin-left: 0; /* Adjust this value as needed */
  }
}

.sidebar-closedBar
{
  left: -1rem;
}
.sidebar-openBar
{
  left: 11rem;
}

.submenu_item {
  position: relative;
}

.sub-menu {
  display: none; /* Hide the submenu by default */
  position: fixed;
  left:auto;
  background-color: var(--blue-color);
  padding: 10px;
  list-style-type: none;
  margin: 0;
  width: 172px;margin-left: 60px;
}
.close .navlink_icon{
margin-left: 0px;
}

.submenu_item:hover .sub-menu {
  display: block; /* Show submenu on hover */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {

  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  transform: translate(0px, 22px);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.searchcss
{
  color: #6c757d;
  background: #f8f8f8;
  border-radius: 50rem;
  font-size: .14px;
  font-weight: 600;
  height: calc(1.2em + 1.2rem + 2px);
  border: none;
}
.link_name1:hover
{
  color:#7fc4de !important;
  // color: #6c757d;
}
.link_name1:active
{
  color:#fff !important;
  // color: #6c757d;
}
.link_name1:visited
{
  color:unset !important;
  // color: #6c757d;
}
.close .active {
  color: #fff !important;
}

.content-page .content {
  height: 100%;
  padding: 0 15px var(--ct-footer-height);
//  height: 100vh;
//   overflow-y: scroll;
} 
.content-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  -webkit-transition: var(--ct-menu-transition);
  transition: var(--ct-menu-transition);
}
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}
span.navlink:active {
  color: #fff !important;
}
span.navlink:hover {
  color: #7fc4de  !important;
}

// @media (min-width: 576px) { 
//   .sidebar
//   {
//     background-color: purple !important;
//   }
//  }
.navcss
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
  align-items: center;
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  // .sidebar
  // {
  //   display: none;
  // }
  .navcss {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
  }
  .bottom
  {
    padding: 2.5rem 0;
  }
  .bottom_content.sidebar-openBa {
    display: none;
  }
  .sidebar-closed, .sidebar-open
  {
    margin-left:0;
    // margin-top: 4.5rem;
    height: 100vh;
    
  }
  .sidebar-open
  {
    opacity: 5;
  
  }
  .sidebar-closed {
  
    // transition: margin-left 0.3s;
    background: #eef6f7;
    // margin-top: 5.5rem;
    height: 100vh;
  
  }
  .sidebar-closedBar
  {
    column-gap: 7.5rem;
  }
  .sidebar-openBa
  {
    column-gap: 5.5rem;
  }
  // .sidebar.close
  // {
  //   display: none;
  
  // }
  .searchcssmobile
  {
    display: flex;
  }
  
  .desktoView
  {
    display: block;
  }

  .search_bar {
    height: unset;
    max-width: unset;
    display: block; 
}
.dropcssUser
{
  display: none;
}

// .navbar_content {
//   display: flex;
//   align-items: center;
//   column-gap: 25px;
// }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .sidebar-open {
    margin-left: 5.5rem;
    transition: margin-left 0.3s;
    background: #eef6f7;
    // margin-top: 4.5rem;
    height: 100vh;
    opacity: 5;
  }
  .navcss {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .bottom
  {
    padding: 18px 0;
  }
  .sidebar-closed {
    margin-left: 17rem;
    transition: margin-left 0.3s;
    background: #eef6f7;
    // margin-top: 5.5rem;
    height: 100vh;
    opacity: 5;
    display: block;
  }
  .sidebar.close
  {
    display: block;
  }
  .searchcssmobile
  {
    display: none;
  }
  .desktoView
  {
    display: block;
  }
  .search_bar {
  
    width: 230px;
    display: block; 
}
.navcss
{
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.dropcssUser
{
  display: flex;
  align-items: center;
  gap:10px
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.bottom_content.sidebar-openBa {
  display: block;
}
}

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 

//   .sidebar-open {
//     margin-left: 5.5rem;
//     transition: margin-left 0.3s;
//     background: #eef6f7;
//     // margin-top: 4.5rem;
//     height: 100vh;
//     opacity: 5;
//   }
//   .navcss {
//     display: flex;
//     justify-content: space-between;
//     padding: 0;
//   }
//   .bottom
//   {
//     padding: 18px 0;
//   }
//   .sidebar-closed {
//     margin-left: 17rem;
//     transition: margin-left 0.3s;
//     background: #eef6f7;
//     // margin-top: 5.5rem;
//     height: 100vh;
//     opacity: 5;
//     display: block;
//   }
//   .sidebar.close
//   {
//     display: block;
//   }
//   .searchcssmobile
//   {
//     display: none;
//   }
//   .desktoView
//   {
//     display: block;
//   }
//   .search_bar {
//     height: 47px;
//      max-width: 430px; 
//      display: block; 
// }
// .dropcssUser
// {
//   display: flex;
//   align-items: center;
//    gap:10px
// }
// .bottom_content.sidebar-openBa {
//   display: block;
// }
//  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  .sidebar-open {
    margin-left: 5.5rem;
    transition: margin-left 0.3s;
    background: #eef6f7;
    // margin-top: 4.5rem;
    height: 100vh;
    opacity: 5;
  }

  
  .sidebar-closed {
    margin-left: 17rem;
    transition: margin-left 0.3s;
    background: #eef6f7;
    // margin-top: 5.5rem;
    height: 100vh;
    opacity: 5;
    display: block;
  }
  .navcss {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .bottom
  {
    padding: 18px 0;
  }
  .sidebar.close
  {
    display: block;
  }
  .searchcssmobile
  {
    display: none;
  }
  .desktoView
  {
    display: block;
  }
  .search_bar {

    width: 450px;
    display: block; 

}
.dropcssUser
{
  display: flex;
  align-items: center;
  gap:10px
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.bottom_content.sidebar-openBa {
  display: block;
}
}
.rounded-circle
{
  border-radius: 50% !important;
    height: 32px !important; font-size: 14px !important; line-height: 28px !important;
    width: 32px !important;
}

.cssAdds
{
background-color: blue;
}
.cssAdd
{
background-color: rgb(167, 30, 132);
  
}
.imgh {
  height: 150px;
  overflow: hidden;
}
.gal-box .image-popup{
  height: 180px !important; float: left; margin-bottom: 0px !important; width: 100%;
}
.internalmedia .gal-box .image-popup {
  height: 225px !important;
}


.imagehright img,.imagemani img{
  object-fit: cover;    border-radius: 15px;
  width: 100%;
  height: 100%;
}
.btn-primary{height: auto !important;}
.btn-primary:hover{
  background: #008751 !important;
  border-color: #008751 !important; color: #fff !important;
}
.heightcard {
  height: 160px !important;
}
.inbox-rightbar .card {
  
  height: 60px;
}
.imagehright {
  height: 140px;
}
.nav_link.submenu_item .nav_link .submenu_item{
  background: transparent !important; color: #6c757d;
}
.submenu_item .item{
margin: 10px 0px !important ;
}
.navlink_icon svg{    height: 22px;
  width: 22px;}
  .announcementner .border-bottom {
    padding-bottom:12px;
}


@media(max-width:1920px)
{
  .inbox-rightbar .card {
  
      height: 96px;
  }
  .two-line{height: 51px;}
  .file-cards .card{height: 100px !important;}
  .item {
    margin: .4rem 7px 0 17px;
  }
    .close .sub-menu{left: 3.8rem;margin-left: 0px;}
    .close.navlink_icon{margin-left: 2px;}
    
 
  .font-11 {
    font-size: 14px !important;
  }
  .carousel-caption p{
    font-size: 36px !important;
    font-weight: 900;
   
    padding-bottom: 0px !important;
  }
  .heightcard {
      height: 200px !important;
  }
  .imagehright {
      height: 180px;
      overflow: hidden;
  }
  .internalmedia .gal-box .image-popup {
      height: 300px !important;
  }
  .imgh {
      height: 225px;
  }

  body{
      width: 100%;
  }
  .carousel1,.announcementner{
      height: 440px;
  }
  .tabvtext {
      width: 200px;
  
      font-size: 15px;

  }
  .border-radius{
    padding-bottom: 12px;
  }
  .newt6 svg {
    margin-top: 7.5px;
    
}
  .view-all{position: absolute;right: 13px; height: 30px !important;
    top: 18px;}
  .announcementner .border-bottom{
    padding: 5px 0px 20px 0; 
  }
  .announcementner .font-14 {
      font-size: 20px !important;
      line-height: 28px;
  }
  .inbox-widget .inbox-item .inbox-item-img{
      margin-top: 2px;
  }
  .tabcontentv, .tabv {
      height: 434px !important;
      overflow: hidden;
  }
  .sidebar-enable .tabcontentv,.sidebar-enable .tabv{height: 405px !important;}
  .font-14 {
      font-size: 18px !important;
      line-height: 28px !important;
  }
  .font-16 {
      font-size: 20px !important;line-height: 28px !important;
  }
  .font-13 {
      font-size: 16px !important;
      line-height: 26px !important;
  }
  .header-title{font-size: 22px !important;}
  .font-12 {
      font-size: 14px !important;
  }
  .gheight .inbox-item-text {
      margin-top: 0px !important;
  }
  .gal-box .image-popup {
      height: 245px !important;
  }
  .imagemani {
    
      height: 370px;
  }
  .paddb{min-height: 100% !important;}
  // .menu_items{max-height: 800px;}
  .twolinewrap1{height: auto;}
  .footer{position: fixed !important; bottom: 0px !important; width: 99.5%;}
}
@media(max-width:1800px)
{
  .internalmedia .gal-box .image-popup {
      height: 280px !important;
  }
  .menu_items{max-height: 800px;}
  .sidebar-enable .tabcontentv,.sidebar-enable .tabv{height: 435px !important;}
  
  .gal-box .image-popup {
      height: 235px !important;
  }

}

@media(max-width:1660px)
{
  .internalmedia .gal-box .image-popup {
      height: 250px !important;
  }
  .newt6 svg {
    margin-top: 4.5px;
    
}
  .line18 {
    line-height: 1.4 !important;
}
  .paddbnew {
    padding: 30px 15px 0px 8px;
}
  .view-all{height: 25px !important;}
 
  .heightcard {
      height: 180px !important;
  }
  .carousel-caption p{
    font-size: 36px !important;
  
    
    padding-bottom: 0px !important;
  }
  .font-11 {
    font-size: 12px !important;
}
  .imagehright {
      height: 160px;
      overflow: hidden;
  }
  .gal-box .image-popup {
      height: 215px !important;
  }
  .carousel1,.announcementner{
      height: 380px;
  }
  .tabvtext {
      width: 150px;
  
      font-size: 12px;

  }
  .imgh {
      height: 185px;
  }

  .announcementner .border-bottom{
      padding: 15px 0px; margin-top: 0px !important;
  }
  .announcementner .font-14 {
      font-size: 16px !important;
      line-height: 22px !important;
  }
  .inbox-widget .inbox-item .inbox-item-img{
      margin-top: 2px;
  }
  .tabcontentv, .tabv {
      height: 373px !important;
      overflow: hidden;
  }
  .font-14 {
      font-size: 14px !important;
      line-height: 24px !important;
  }
  .font-16 {
      font-size: 16px !important;line-height: 24px !important;
  }
  .font-13 {
      font-size: 13px !important;
      line-height: 22px !important;
  }
  .header-title{font-size: 18px !important;}
  .font-12 {
      font-size: 12px !important;
  }
  .gheight .inbox-item-text {
      margin-top: 4px !important;
  }
  .imagemani {
      height: 320px;
  }
  .view-all {

    top: 13px;
  }
  .sidebar-enable .tabcontentv,.sidebar-enable .tabv{height: 350px !important;}
  
  
  .item {
    margin: .2rem 7px 0 17px;
   // margin: .3rem .4rem 0;
}
.menu_items{max-height: 700px;}
}

@media(max-width:1440px)
{
  .internalmedia .gal-box .image-popup {
      height: 225px !important;
  }
  .newt6 svg {
    margin-top: 1.5px;
    
}
  .two-line{height: 43px;}
  .file-cards .card{height: 88px !important;}
  .navlink_icon svg{    height: 18;
    width: 18px;}
  .paddbnew {
    padding: 30px 17px 0px 4px;
}
  .view-all{height: 24px !important;}
  
  .event h4, .event p{
    width: 50px;
  }
  .item{
    margin: .2rem .4rem 0px 18px;
 } 
  .event p{
    font-size: 10px !important;
  }
  .font-11 {
    font-size: 11px !important;
}

  .menu_items {
      max-height: 650px;
  }
  
.view-all {

  top: 13px;
}
  .gheight .inbox-item-text {
    margin-top: -3px !important;
}
.newc{
  margin-top: 5px !important;
}
  .heightcard {
      height: 160px !important;
  }
  .imagemani {
      height: 310px;
  }
  .border-radius {
    padding-bottom: 8px;
    padding-top: 12px;
    margin-bottom: 0px !important;
}
  .imagehright {
      height: 140px;
  
  }
  .carousel1,.announcementner{
      height: 330px;
  }
  .gal-box .image-popup {
      height: 190px !important;
  }
  .imgh {
      height: 152px;
  }

  .announcementner .font-14 {
      font-size: 14px !important;
      line-height: 22px !important;
  }
  .header-title{font-size: 16px !important;}
  .announcementner .border-bottom{
      padding: 10px 0px;
  }
  .font-14 {
      font-size: 14px !important;
      line-height: 20px !important;
  }
  .font-13 {
      font-size: 13px !important;
      line-height: 20px !important;
  }
  .font-12 {
      font-size: 12px !important;
  }
  .tabcontentv, .tabv {
      height: 373px !important;
      overflow: hidden;
  }
  .sidebar-enable .tabcontentv,.sidebar-enable .tabv{height: 330px !important;}

}
.sidebar .menu_items .active{
  background: #7fc4de !important; 
}
.sidebar .menu_items .active .link_name1{
color: #fff !important;
}

.sidebar .menu_items .active .link_name1:hover span{
  color: #fff !important;
  }

  .close .menu_content .menu_items .active .link_name1 span{
    color: #6c757d !important;
    }
    
    .close .menu_content .menu_items .active .link_name1:hover span{
      color: #7fc4de !important;
      }

.sidebar .menu_items .active{
  background: #7fc4de !important; 
}
.sidebar .menu_items .active .link_name1{
  color: #fff !important;
}
.menu_items .nav_link .submenu_item .link_name1{
  color:#6c757d !important;
}
.sidebar.close .navlink:focus .submenuactive{
  color: #6c757d !important;
  }
  .sidebar.close .navlink:focus .submenuactive:hover{
    color: #7fc4de !important;
    }
.sidebar .menu_items .active .menu_items .link_name1:hover span{color: #7fc4de !important;}
@media(max-width:1280px)
{
  .card {
    --bs-card-spacer-y: 0.8rem;
    --bs-card-spacer-x: 0.8rem;
  }
  
  .border-radius .rounded-circle, .inbox-widget .heit8 .rounded-circle {
    height: 46px;
    margin-right: 7px;
    width: 46px;
}
.menu_items {
  max-height: 620px;
}
.item {
  margin: .3rem .4rem 0px 18px;
}
  .view-all {
    position: absolute;
    right: 8px;
    top: 17px;
}
.newc{margin-top: 5px !important;}
.newc {
  background: #d2effa !important;
  border: none;
  color: #7fc4de !important;
  display: flex;
  font-size: 12px !important;
  height: 18px !important;
  justify-content: center;
  line-height: 22px !important;
  margin-left: 13px;
  margin-top: 8.5px !important;
  padding: 0 1px !important;
  width: 19px !important;
}
.border-radius {
  padding-bottom: 12px;
}
.newpadd{margin-top: 12px !important;}
  .imagehright {
      height: 130px;
  
  }
  .internalmedia .gal-box .image-popup {
      height: 200px !important;
  }
  .gal-box .image-popup {
      height: 170px !important;
  }
  .announcementner .font-14 {
      font-size: 14px !important;
      line-height: 20px !important;
  }
  .font-13 {
      font-size: 12px !important;
      line-height: 19px !important;
  }
  .font-12 {
      font-size: 10px !important;
  }
  .font-16 {
      font-size: 14px !important;
      line-height: 21px !important;
  }
  .font-14 {
      font-size: 12px !important;
      line-height: 19px !important;
  }
  .tabvtext {
      width: 138px;
      padding-left: 8px;
  }
  .tabcontentv, .tabv {
      height: 370px !important;
      overflow: hidden;
  } 
  .event h4, .event p{
  width:53px;
}  
.event p{
  font-size: 11px;
}

  .carousel-caption p {
      font-size: 32px !important;
  }
  .header-title{font-size: 14px !important;}
  .gheight{padding-bottom: 5px !important;}

}

@media(max-width:1200px){
  .internalmedia  .filter-item,.internalmedia1  .filter-item{
      width: 25% !important;
  }
  .search_bar{width: 250px !important;}
  .card-body{padding: 10px !important;} 

.heit9 .col-sm-9{padding-right: 0px !important;}
// .content {margin-left: 210px !important;}
.item {
  margin: .3rem .4rem 0px 19px;
}
.paddbnew {
  padding: 30px 7px 0 4px;
}
.sidebar .nav_link{
  font-size:13.2px;
}
.heifgtgal {
  height: 436px;
}

.heit9{width: 100%;}
  .event h4, .event p{
    width:45px;
  } 
  .view-all {
    position: relative;
    right: 0px;
    top: 2px;
}
.menu_items {
  max-height: max-content;
}
.posnew{right:10px;} 
  .border-radius .rounded-circle, .inbox-widget .heit8 .rounded-circle {
    height: 42px;
    margin-right: 7px;
    width: 42px;
}
  .ipadt{margin-top: 0px !important; width: 100%;}
  .border-radius {
    padding-bottom: 12px;
}
.event h4{height: 34px;}
.ipaddw{width: 16px;}
.tabvtext {
  padding-left: 8px;
  width: 108px;
}
  .tabview1{
      width: 75% !important; 
  }
  .alignright{width: 16px;}
  .tabview2{
      width: 25% !important; 
  }
  .announcementner, .carousel1{
    margin-bottom: 15px;
  }
  .posnew{padding: 2px 2px !important; top: -3px !important;}

}
.desknewview{display: block !important;}
.tabnewview{display: none !important;}
@media(max-width:992px){
  .tabview1{
      width: 65% !important; 
  }
  .announcementner{
      height: auto;
  }
  .imagemani{
    float: left !important; width: 100% !important; margin-top: 0px !important;
  }
  .sidebar-closedBar
  {
    column-gap: 5rem;
  }
  .searchcssmobile {
    height: 35px;
    display: contents;
  }
  .navcss{
  
        padding: 0.5rem 0rem;
  }
  .internalmedia .gal-box .image-popup{
    height: 150px !important;
  }
  .sidebar-openBa
  {
    column-gap: 3rem;
  }
  .navbar_content svg{width:28px !important; height: 28px !important;}
  .logoutop{width:38px !important; height: 38px !important;}
  .desknewview{display:none !important;}
.tabnewview{display: block !important;}
  .tabview2{
      width: 35% !important; 
  } 
  .carousel1{
      margin-bottom: 25px;
  }
}

.mtbalenew{
  width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 0px;
}
.mtbalenew thead {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: visible;
}
.mtbalenew tr {
  display: table;
  width: 100%;
}
.mtbalenew th {
  background:#f3f7f9 !important;
  font-weight: 600 !important;
  color: #3c3c3c;
  font-size: 14px;
text-align: center;
  min-width: 130px;
  max-width: 130px;
  padding:6px 10px !important;
  border-bottom: 0px solid #1b6363 !important;
}

.mtbalenew tbody {
  width: 100%;
  position: relative;
  display: block;
  max-height: 30007px !important;
  overflow-y: hidden !important;
}
.mtbalenew td {
  min-width: 130px;
  max-width: 130px;
  padding: 6px 10px !important; font-size: 14px;
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; color: #6b6b6b;
  border-bottom: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; 
  vertical-align: middle;
 
}
.form-control:disabled{color: #000 !important;}
.mtbalenew tbody tr:nth-child(even) td { background: #f9f9f9;}
.mtbalenew tr:nth-child(2n):hover td { background: #ececec;}
.mtbalenew tr:hover{background: #ececec !important;}
.mtbalenew td:last-child{border-right: 0px solid #e1e1e1; text-align: center; }
@media(max-width:640px){
  .tabview1,.tabcontentv, .tabv{
      width: 100% !important; 
  }
 
  .dropcssUser{display: flex;}
  .manage-master .col-md-3{
    width: 100% !important;
  }
  .sidebar.close .navlink_icon {
    box-shadow: none !important;
    min-width: 10px !important;
}
  .nav-pills .nav-link{
    padding: 5px;
  }
  .footer{text-align: center;}
  .nav-pills .nav-item{margin-bottom: 5px !important;}
  .mtable{overflow: auto !important;}
  .mtable tbody{overflow: visible !important;}
  .newtexleft{text-align: left !important;}
  .mtbalenew{overflow: auto !important;}
  .mtbalenew tbody{overflow: visible !important;}
  .mtbalenew th,.mtbalenew td{min-width: 130px !important; max-width: 130px !important; }
  .sidebar{display: block;}
  #myHeader {display: block;}
  #contentBox {
    margin-right: 0px;
    margin-left: 0px !important;
}
.sidebar-openBa {
  column-gap: 5px;
}
#myDropdownBell{
  left:-120px !important;
  right: auto !important;
}
.posx{position: absolute;
  right: 0;
  z-index: 9;
  top: 260px;}
.navbar_content svg {
  height: 20px !important;
  width: 20px !important;
}
.eventtextnew{  
  display: inline-block !important;
  line-height: 26px;}
.navbar_content svg.logoutop{
  height: 33px !important;
  width: 33px !important;  
}
.postion8 {
  float: right;
  margin-top: 0px;
  width: 100% !important;
  position: relative !important;
  top: 0px !important;
}
.searchcssmobile {
  
  height: 20px;
}
.navbar{    padding: 15px 10px 10px 0px !important;}

  .sidebar.close{display: none !important;}
  .content-page .content{margin-left: 0px !important;}
  .tabview1{width: 100% !important; }
  .navcss{margin-left: 0px !important;}
  #s4-workspace{overflow-x:hidden !important ;}
  .sidebar {
    margin-left: 0rem;
}
  .tabview2{
      width: 100% !important; 
  }
  .inbox-widget .heit8{
    justify-content: flex-start !important;
  }
  .ipadt .w-100 {
    margin-left: 0px;
    justify-content: flex-start !important;
    width: 100% !important;
}
  #wrapper{width: 540px;}
    .imagehright {
      height: 230px; margin-bottom: 15px;
  
  }
  .tabcontentv, .tabv {
      height: 289px !important;
      overflow: hidden;
  } 
  
  .internalmedia  .gal-box .image-popup {
      height: 260px !important;
  }
  .internalmedia  .filter-item,.internalmedia1  .filter-item{
      width: 100% !important;
  }
  .gal-box .image-popup {
      height: 240px !important;
  }
  .breadcrumb{padding-bottom: 15px !important;}
  .filter-menu a{margin-bottom: 10px !important;}
  .upcom1{width: 16%; float: left;}
  .upcom2{width: 82%; float: left;}
  .posnew{top:13px; right: 0;}

//   .sidebar.close {
//     padding: 0;
//     width: auto !important;
// }
.app-menu{top: 63px !important;}
 .logo_item{display: none;}
.item {
  margin: 0rem .4rem 0 8px;
}
.ivon{width: 10% !important; float: left;margin-top: 10px !important;}
.ivon2{width: 90% !important; float: left;margin-top: 10px !important;}
// .sidebar.close .navlink_icon{margin-left: 10px;}
.app-menu{width: 210px;}
  .gheight .ps-2,.gheight .ps-3{padding: 0px !important;}

  .w17{width: 17% !important;}
}
  @media(max-width:480px){

    #wrapper{
      width: 480px;
    }
  }
  @media(max-width:430px){

    #wrapper{
      width: 430px;
    }
  }
  @media(max-width:414px){

    #wrapper{
      width: 412px;
    }
  }
  @media(max-width:400px){

    #wrapper{
      width: 400px;
    }
  }
  @media(max-width:390px){

    #wrapper{
      width: 390px;
    }
  }
  @media(max-width:375px){

    #wrapper{
      width: 375px;
    }
  }

  @media(max-width:360px){

    #wrapper{
      width: 360px;
    }
  }

  
  @media(max-width:344px){

    #wrapper{
      width: 344px;
    }
  }
    
  @media(max-width:320px){

    #wrapper{
      width: 320px;
    }
  }
  .form-control:focus{border-color: #ccc  !important; box-shadow: none;}
  .posx svg:hover{color: #7fc4de !important;}
span.navlink.active {color: white;}
.link_name1:visited {color: #7fc4de;}
.nav_link .submenu_item .link_name1 span.navlink.active {color: #7fc4de;}
.rounded-circlecss { border-radius: 50% !important;height: 2rem !important;width: 2rem !important; margin-right: 5px;}
.nav-pills .nav-link{    border: 1px solid #7fc4de ; margin: 0px 5px; border-radius: 3px !important; font-weight: 500;  color: #000;font-size: 14px;    padding: .7rem 1rem !important;}
  #myDropdownBell {right: 0rem !important;}
  .gfg_tooltip { position: relative; display: inline-block;color: #000000;
  width:30px;text-align: center; display: inline-block;font-size: 13px;}
 
.gfg_tooltip .gfg_text {visibility: hidden;width: auto;background-color: #3c3c3c;color: #fff; width: 140px;
    text-align: center; border-radius: 6px; padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 115%;
    left: 150%;
    margin-left: -60px;
}

.gfg_tooltip .gfg_text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #3c3c3c transparent;
}

.gfg_tooltip:hover .gfg_text {
    visibility: visible;
}
a:hover{color: #7fc4de !important; cursor: pointer;}
.hovertext:hover{color: #7fc4de !important; cursor: pointer;}
.navbar_content svg:hover{color: #7fc4de !important; cursor: pointer;}
.filter-menu a:hover{
  background: #7fc4de; color: #fff !important;
}
.mtbalenew input[type=text]:focus{border: 1px solid #7fc4de !important;}
.pagination-container{margin-top: 5px !important; z-index: 0; position: relative;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background: #7fc4de !important;
border-radius: .5rem;
color: #fff !important;
}
.btn-status {
  background: rgba(0, 135, 81, .2) !important;
  border: 1px solid #efefef !important;
  border-radius: 4px !important;
  color: #008751 !important;
  font-size: 13px !important;
  width: 100px;
  padding: 2px 5px !important;
}
.btn-light {padding: 3px 6px !important;}
.inputcss {
  color: #6c757d;
  font-size: .875rem !important;
  font-weight: 400 !important;
  height: 40px !important;
  padding: .55rem .9rem !important;
}
.mtbalenew .inputcss {height: 34px !important;}
.indexdesign {
 background: #2c99421f !important;
    border: none;
    border-radius: 1000px;
    color: #2c9942 !important;
  float: left;
  font-size: 16px !important;
  font-weight: 600;
  height: 28px !important;
  line-height: 30px !important;
  margin-left: 1px;
  padding: 0 1px !important;
  text-align: center;
  width: 28px !important;
}
.mtable th{position: relative;}
.tabcss:hover{ background: #959b95  !important; color: #fff !important;}
.cursor-none{cursor: none !important;}
.swal2-confirm{background: #7fc4de !important; border-color: #7fc4de !important;box-shadow: none !important;}
.swal2-confirm:hover{background: #008751 !important; border-color: #008751 !important;}
.newdrop .dropdown-menu,.dropdown-menucsspost{border: none;
  border-radius: 3px;
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .16), 0 2px 8px 0 rgba(0, 0, 0, .12);
  font-size: 14px;
  margin-top: 0px !important;
  min-width: 10rem !important;
  padding: .3rem !important;
  text-align: left !important;}
  .newdrop .dropdown-item,.dropdown-menucsspost .dropdown-item {
    padding: 7px 22px;
    text-align: left;  color: #6c757d;
}
.newdrop .dropdown-item:hover,.dropdown-menucsspost .dropdown-item:hover {
  color: #7fc4de !important; background: #f8f9fa !important;
}
.newdrop .dropdown-item:active,.dropdown-menucsspost .dropdown-item:active {
  color: #7fc4de !important; background: #f8f9fa !important;
}
.ms-fullscreenmode #contentBox{
  margin-left: 0px !important;
}
label{color: #6c757d !important;font-size: .875rem !important;}
.form-control, .form-select, textarea{color: #212529 !important;font-size: 1rem;border: 1px solid #ccc !important;
  color: #212529 !important;
  font-size: 1rem !important;
  padding: 7px 10px;
  font-weight: 500;}
.form-control::placeholder,textarea::placeholder,.form-select::placeholder{
  color: #212529 !important;font-size: 1rem;
}
.ql-container.ql-snow {
  border: 1px solid #ccc;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.ql-toolbar.ql-snow{border-top-left-radius: 7px;border-top-right-radius: 7px;}
.ql-editor{ color: #212529;font-size: 1rem;    font-weight: 500;}
.modal .form-control::placeholder,.ql-editor::placeholder{
  color: #212529 !important;font-size: 1rem; text-shadow: none; font-style: normal; font-weight: 500;
}

.cancel-btn{background: #d3d4d5 !important;padding: 6px 12px !important;
  border-radius: 0.375rem !important; border-color: #d3d4d5 !important;}
  .form-control[type=file] {
    
    padding: 7px;
    border-radius: 7px;
    font-size: 1rem !important;
}
.dropdown-menucsspost button{
  background: transparent !important;
  color: #3c3c3c;
  padding: 5px 10px ;
  text-align: left; border: 0px; width: 100% !important;
}
.dropdown-menucsspost button:hover{
  color:#7fc4de !important;
}
  .cancel-btn:hover,.btn-success:hover{background: #008751 !important; border-color: #008751 !important; }
  .modal .modal-content label{color: #6c757d !important;font-size: .875rem !important;}
.modal .modal-content input,.modal .modal-content select,.modal .modal-content textarea{border: 1px solid #ccc !important;color: #212529 !important;font-size: 1rem !important;border: 1px solid #ccc !important;
  color: #212529 !important;
  font-size: 1rem !important;
  padding: 7px 10px !important;
  font-weight: 500 !important;}
  .modal .modal-content input::placeholder,.modal .modal-content select::placeholder,.modal .modal-content ::placeholder{color: #212529 !important;font-size: 1rem !important;border: 0px solid #ccc !important;
    
    font-size: 1rem !important;
   
    font-weight: 500 !important;}
    .sidebar .close li:focus .menu_items .active .sub-menu div li.test a.link_name1{
      color: #6c757d !important;
    }
    .sidebar .close li:focus .menu_items .active .sub-menu div li.test a.link_name1:hover {
      color: #7fc4de !important;
    }
    .fontl{font-size: 14px !important; line-height: 30px !important;}
 .project-box .gfg_tooltip{width: 2rem !important ;}
 .MuiAvatar-root{cursor: auto !important;background-color: #7fc4de !important;font-weight: 600;}
 .project-box .gfg_tooltip .MuiAvatar-root{cursor: auto !important;background-color: #7fc4de !important; font-size: 12px !important; border: 0px !important; border: 0px solid #efefef !important;}
.modal .modal-content input:focus,.modal .modal-content select:focus,.modal .modal-content textarea:focus{border: 1px solid #ccc !important; box-shadow: none !important}
.modal .modal-content .multiSelectContainer input{padding: 9px 10px !important;border: 1px solid #ccc !important;}   
.newlight{padding: 6px .5rem !important; border-radius: 30px !important;}


.newclass{
  right: -44px !important;
  top: 6px;
}
.smalllogostyle {
  height: 60px !important;
  width: 60px !important;
}
.largelogostyle {
  height: 37px !important;

}

.btn-outline-primary{
 
      border-color: #0075a9 !important;
    color: #0075a9 !important;
}
.btn:hover{
  background-color: #0075a9 !important;
      border-color: #0075a9 !important;
    color: #fff !important;
}