// #wrapper, .content-page {
//   display: flex;
//   flex: 1 1 auto;
//   width: 100%;
//   background-color: #ededed !important;
// }

#wrapper1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

.content-page{
  
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    position: relative;
    -webkit-transition: var(--ct-menu-transition);
    transition: var(--ct-menu-transition);
}
.mtable{
  // margin-top: 90px;
  // width: 100%;
  // top: 137px;
  // left: 341px;
  // width: 79%;
  // position: absolute;
}

.tableheadtitle{
 color:  #458556
}
.mtable thead th .dropdown{
  right: 5px; position:absolute;
}
.tablerow{
  background-color: white;
  background-color: #fff;
  text-align: -webkit-center;
}
.pb-2{
  justify-content: center;
}
#myDropdown{
  cursor: pointer;
}
.inputcss
{
  height: 30px;
  color: #6c757d;
  padding: .55rem .9rem !important;
  font-size: .85rem !important;
  font-weight: 400 !important;
}
input.form-control.inputcss {
  display: block;
  width: 100%;
  padding: .55rem .9rem !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
  height: 40px !important;
  line-height: 1.5;
  box-shadow: none;
  color: #6c757d !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ededed;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
   
    cursor: pointer;
  }
  
  .dropdown-content {
    // background-color: #fff;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .16), 0 2px 6px 0 rgba(0, 0, 0, .12);
    display: none;
    min-width: 110px;
    position: absolute;
    right: 1rem;
    transform: translateY(0px);
    padding: 0.5rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    // background-color: #f1f1f1;
  }
  .show {
    display: block;
  }
  .showNews
  {
    display: block;
  }


  .pagination-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-top: 20px;
        align-items: end;
    display: flex;
    justify-content: flex-end;
     margin-top: 15px; 
    position: relative; 

  }
  
  .pagination {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .page-item {
    margin: 0 2px;
    border-radius: 41px;
    height: 34px;
    width: 34px;
  }
  .Sorting{
 
    position: absolute;
    right: 11px;
  }
  .mtable th svg{
 
    position: absolute;
    right: 11px;
  }
  .tableheadtitle{position: relative;}
  .page-link {
    border: 0 solid #ddd;
    border-radius: 50%;
    color: #007bff;
    display: block;
    padding: 4px 11px;
    text-decoration: none;
    transition: background-color .3s ease;
    width: 30px;
    height: 30px;
  }
  
  .page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
  
  .page-item.active .page-link {
    background-color: #3498db;
    // color: white;
    border-color: #3498db;
  }
  
  .page-link:hover {
    // background-color: #f1f1f1;
    border-color: #007bff;
    color: #007bff;
  }
  
  .page-link:focus {
    outline: none;
  }
  
  .page-link[aria-label="Previous"],
  .page-link[aria-label="Next"] {
    font-weight: bold;
    font-size: 1.2em;
  }


  .text-danger{
    // border: 1px solid #000;
    // border-radius: 360px;
    // display: block;
    // width: 25px;
    // border: 1px solid #000;
    // border-radius: 360px;
    display: block;
    width: 300px;
  }

  .Exclamationamark{
   
    color: black;
  }


  .NextPage{
    border-radius: 1000px  !important;
    height: 32px;
    width: 32px;    padding: 4px 10px;
  }

  .PreviousPage{
    border-radius: 1000px  !important;
    height: 32px;
    width: 32px;    padding: 4px 10px;
  }

  .Sorting:hover{
    cursor: pointer;
  }